@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px; /* Mặc định trên desktop */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0 0 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p,
button {
  font-size: 1rem;
}

button {
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.ring-yellow-500 {
  border-color: yellow !important;
}

.container {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .md\\:block {
    display: none !important;
  }

  .md\\:hidden {
    display: block !important;
  }

  html {
    font-size: 14px; /* Giảm kích cỡ font trên tablet */
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p,
  button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .sm\\:block {
    display: none !important;
  }

  .sm\\:hidden {
    display: block !important;
  }
  html {
    font-size: 12px; /* Giảm kích cỡ font trên điện thoại */
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  button {
    font-size: 0.8rem;
  }
}
